body, html {
    height: 100%;
}

.menu {

    background-color: #1E1C1A;
    color: #E6CFA7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid #e6cfa7;
    list-style-type: none;

}

li a {
    color: #E6CFA7;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
}

li a:hover {
    color: #F0E6D0;
    background-color: #24211E;
    text-decoration: none;
}

.hero {

    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero-text {

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #E6CFA7;
    opacity: 0.7;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.article {

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #F0E6D0;
    background-color: #1E1C1A;
    width: 200px;
    height: 200px;
    padding: 30px;
    margin: 10px;
    border: 1px solid #e6cfa7;
    opacity: 0.5;
    list-style-type: none;

}

.article a,
.article a:link,
.article a:visited {
    color: inherit;
    text-decoration: none;
}

.article p {
    font-size: 14px;
}

.article:hover {
    opacity: 1;
    background-color: #24211E;
}

.about-layout {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

.bild {
    flex: 0 0 300;
    padding: 20px;
    max-width: 40vw;
    ;
}

.bild img {
    width: 90%;
    height: auto;
    border-radius: 15px
}

.about {

    max-width: 50ch;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #E6CFA7;
    h1 {
        margin-bottom: 10px;
    }
    h2 {
        margin-top: 20px;
    }
}

.post {
    color: #e6cfa7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position:relative;
    margin: 0 auto;
    padding: 50px;
    z-index: 1;
    max-width: 100ch;
    text-align: justify;


}

